mixin header-nav(btnClass, addClass, args)
	.header-wrapper(class="header-wrapper--"+ addClass)
		.header-top
			.container
				.header-top-content
					button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
						span toggle menu
					.mobile-logo
						a(href="index.html")
							img(src="img/logo.png", alt="logo" width="60")
					.mobile-phone
						a(href="tel:+74992140000") +7(499) 214-00-00
					.header-menu
						ul.header-nav
							each item in args
								if item.addClass
									li
										a(href=""+ item.link class="header-nav-item "+ item.addClass) #{item.title}	
										.drop-menu
											.drop-menu-block
												h4 Планирование семьи
												.serv-list
													a(href="service-page.html").text-link Андрология
													a(href="service-page.html").text-link Андрология
													a(href="service-page.html").text-link Андрология
													a(href="service-page.html").text-link Андрология
													a(href="service-page.html").text-link Андрология
													a(href="service-page.html").text-link Андрология				
								else
									li
										a(href=""+ item.link class="header-nav-item") #{item.title}
								

							.d-block.d-md-none.contacts-block.contacts-block--mobile
								.contacts-phones
									a(href="tel:+74992140000") +7(499) 214-00-00
									a(href="tel:+74992140000") +7(499) 214-00-00
								.contacts-address
									p Москва, г. Зеленоград, к. 1130
									p Открытие до 21-00
								.contacts-social
									a(href="#")
										i.fab.fa-facebook-f
									a(href="#")
										i.fab.fa-vk
									a(href="#")
										i.fab.fa-instagram
									a(href="#")
										i.fab.fa-odnoklassniki

						.header-search
							form(action="")
								.search-input#search-input
									input(type="text" placeholder="Поиск по сайту")
								
								button.search-btn#search-btn
									i.fas.fa-search
					.contacts-social
						a(href="#").fab.fa-facebook-f
						a(href="#").fab.fa-vk
						a(href="#").fab.fa-instagram
						a(href="#").fab.fa-odnoklassniki

		header.d-none.d-md-block
		.container
			.header-content
				
				a(href="#").logo
					img(src="img/logo.png", alt="logo")
				
				.contacts-phones
					a(href="tel:+74992140000") +7(499) 214-00-00
					//- a(href="tel:+74992140000") +7(499) 214-00-00
				.contacts-address
					p Москва, г. Зеленоград, к. 1130
					p Открытие до 21-00
					
				.d-none.d-md-block.header-button
					button.page-button(class=" "+ btnClass data-toggle="modal" data-target="#contact-modal1") Записаться к врачу

mixin header3
	header.head.head-grey
		.top-panel
			.container
				.top-panel-content
					
					.top-panel-contacts
						.phone-block
							.phone-block__icon
								i.fas.fa-phone.fa-flip-horizontal
							a(href="tel:+75555555555") +7(555)-555-55-55
							a(href="tel:+75555555555") +7(555)-555-55-55
						.address-block
							.address-block__item
								.address-block__icon
									i.fas.fa-map-marker-alt
								p Москва, г. Зеленоград, к.1130
							.address-block__item
								.address-block__icon
									i.far.fa-clock
								p Открыты до 21:00
					.contacts-social
						a(href="#").fab.fa-facebook-f
						a(href="#").fab.fa-vk
						a(href="#").fab.fa-instagram
						a(href="#").fab.fa-odnoklassniki

					button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
							span toggle menu
		.nav-panel
			.container
				.nav-panel-content
					a(href="index.html").logo
						img(src="img/logo.png", alt="logo" width="100")
					.menu-block
						ul.menu-block__nav.header-nav
							li
								a(href="index.html") Главная
							li
								a(href="service-page.html" ) Услуги
								.drop-menu
									.drop-menu-block
										h4 Планирование семьи
										.serv-list
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
									.drop-menu-block
										h4 Планирование семьи
										.serv-list
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
									.drop-menu-block
										h4 Планирование семьи
										.serv-list
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
							li
								a(href="specialists.html") Специалисты
							li
								a(href="page-timetable.html") Расписание
							li
								a(href="programm-page.html") Программы
							li
								a(href="#") Контакты
						.menu-block__search.header-search
							form
								.search-input#search-input
									input(type="text" placeholder="Поиск по сайту")
									
									button.search-btn#search-btn
										i.fas.fa-search

					.header-button.d-none.d-md-block
						button.page-button.page-button3(data-toggle="modal" data-target="#contact-modal2") Записаться к врачу

mixin header4
	header.head.head-green
		.top-panel
			.container
				.top-panel-content
					
					.top-panel-contacts
						.phone-block
							.phone-block__icon
								i.fas.fa-phone.fa-flip-horizontal
							a(href="tel:+75555555555") +7(555)-555-55-55
							a(href="tel:+75555555555") +7(555)-555-55-55
						.address-block
							.address-block__item
								.address-block__icon
									i.fas.fa-map-marker-alt
								p Москва, г. Зеленоград, к.1130
							.address-block__item
								.address-block__icon
									i.far.fa-clock
								p Открыты до 21:00
					.contacts-social
						a(href="#").fab.fa-facebook-f
						a(href="#").fab.fa-vk
						a(href="#").fab.fa-instagram
						a(href="#").fab.fa-odnoklassniki

					button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
							span toggle menu
		.nav-panel
			.container
				.nav-panel-content
					a(href="index.html").logo
						img(src="img/logo.png", alt="logo" width="100")
					.menu-block
						ul.menu-block__nav.header-nav
							li
								a(href="index.html") Главная
							li
								a(href="service-page.html" data-role='dropdown') Услуги
								.drop-menu
									.drop-menu-block
										h4 Планирование семьи
										.serv-list
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
									.drop-menu-block
										h4 Консультация и лечение
										.serv-list
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
									.drop-menu-block
										h4 Планирование семьи
										.serv-list
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
											a(href="service-page.html").text-link Андрология
							li
								a(href="specialists.html") Специалисты
							li
								a(href="page-timetable.html") Расписание
							li
								a(href="programm-page.html") Программы
							li
								a(href="contacts.html") Контакты
						.menu-block__search.header-search
							form
								.search-input#search-input
									input(type="text" placeholder="Поиск по сайту")
									
									button.search-btn#search-btn
										i.fas.fa-search

					.header-button.d-none.d-md-block
						button.page-button.page-button--color(data-toggle="modal" data-target="#contact-modal2") Записаться к врачу

mixin ourSpecialistCard
	.card-doctor
		.card-img
			img(src="img/doctor1.png", alt="img")
		.card-text
			h3 Мария Кравцова
			p Главврач
mixin benefitsItem(imgSrc, title,desk)
	.benefit-item
		.benefit-item__img
			img(src="img/"+ imgSrc, alt="icon")
		.benefit-item__title
			p #{title}
		.benefit-item__text
			p #{desk}

mixin service-col(items)
	.serv-list-col
		each item in items
			a(href="service-page.html").text-link #{item}
mixin service-col2(items)
	.serv-list-col
		each item in items
			a(href="#").text-link.text-link2 #{item}
mixin newCard(title)
	.news-cards__item.card-item
		h4 #{title}
		h3 Поможем всем городом
		p Тимуру всего 1 год, а Жене недавно исполнилось 3 года - два мальчика. Две семьи. Два разных диагноза. Но одно общее желание - ЖИТЬ полноценной и счастливой жизнью

mixin newCard2
	.news-card2.card-item
		.news-card2__img
			img(src="img/news.jpg", alt="photo")
		.news-card2__text
			.news-date
				p 09.06.2020
			.news-title
				p Поможем всем городом!
mixin programmContent
	.row
		.col-lg-4
			a(href="#" style="background-image: url(img/family.jpg)").programm-card
				.programm-card__text
					.label
						p  Программа
					h4 Моя семья
					p Годовая программа обслуживания Вашей семьи
					.price
						p от 30 000 р
		.col-lg-4
			a(href="#" style="background-image: url(img/family.jpg)").programm-card
				.programm-card__text
					.label
						p  Программа
					h4 Моя семья
					p Годовая программа обслуживания Вашей семьи
					.price
						p от 30 000 р
		.col-lg-4
			a(href="#" style="background-image: url(img/family.jpg)").programm-card
				.programm-card__text
					.label
						p  Программа
					h4 Моя семья
					p Годовая программа обслуживания Вашей семьи
					.price
						p от 30 000 р

mixin programmContent2
	.row
		.col-lg-6
			a(href="#" style="background-image: url(img/family.jpg)").programm-card
				.programm-card__text
					.label
						p  Программа
					h4 Моя семья
					p Годовая программа обслуживания Вашей семьи
					.price
						p от 30 000 р
		.col-lg-6
			a(href="#" style="background-image: url(img/family.jpg)").programm-card
				.programm-card__text
					.label
						p  Программа
					h4 Моя семья
					p Годовая программа обслуживания Вашей семьи
					.price
						p от 30 000 р
		.col-lg-6
			a(href="#" style="background-image: url(img/family.jpg)").programm-card
				.programm-card__text
					.label
						p  Программа
					h4 Моя семья
					p Годовая программа обслуживания Вашей семьи
					.price
						p от 30 000 р
		.col-lg-6
			a(href="#" style="background-image: url(img/family.jpg)").programm-card
				.programm-card__text
					.label
						p  Программа
					h4 Моя семья
					p Годовая программа обслуживания Вашей семьи
					.price
						p от 30 000 р
mixin breadcrmb(args)
	.breadcrumb
		each item in args
			a(href=" "+ item.link).breadcrumb-item #{item.title}
mixin table(args)
	.table-block&attributes(attributes)
		.table-row.table-row--head
			.table-cell.title-5
				h3 #{args.head1}
			.table-cell.title-5
				h3 #{args.head2}
		.table-body
			each item in args.el
				.table-row
					.table-cell
						p #{item.text1}
					.table-cell
						p #{item.text2}

mixin checkboxGroup(title, ...items)
	.checkbox-group
		.drop-block-head
			i.fas.fa-caret-down
			h3 #{title}
		.label-block.drop-block-body
			each item in items
				label
					input(type="checkbox" name="")
					.fake-checkbox
					| #{item}

mixin specialistCard
	.card-specialist
		.card-img
			img(src="img/doctor3.jpg", alt="doctor")
		.card-text
			a(href="persone-page.html") Мария Кравцова
			.text-14
				p Гинеколог, Репродуктолог, Врач центра планирования семьи, Гинеколог
		.card-btn
			.page-button.page-button2(data-toggle="modal" data-target="#contact-modal2") Записаться к врачу
mixin timeCard
	.time-card-wrapper
		.date-cell.text-center Cp, 03.06
		.time-card
			form(action="")
				input(type="hidden" name="" value="14-20")
				p 14:00 - 20:00
				input(type="submit" value="Записаться")
mixin timeCardEmpty
	.time-card-wrapper.card-empty
		.date-cell.text-center Cp, 03.06
		.time-card
			p 14:00 - 20:00
mixin timeTableHead
	.timetable-row.timetable-row--head
		.timetable-title
		.timetable-column
			.timetable-cell
				p ср, 03.06
			.timetable-cell
				p ср, 03.06
			.timetable-cell
				p ср, 03.06
			.timetable-cell
				p ср, 03.06
			.timetable-cell
				p ср, 03.06
			.timetable-cell
				p ср, 03.06
			.timetable-cell
				p ср, 03.06
mixin timeTableHead2
	.timetable-row.timetable-row--head
		.timetable-cell
			p ср, 03.06
		.timetable-cell
			p ср, 03.06
		.timetable-cell
			p ср, 03.06
		.timetable-cell
			p ср, 03.06
		.timetable-cell
			p ср, 03.06
		.timetable-cell
			p ср, 03.06
		.timetable-cell
			p ср, 03.06

mixin timeTableRow
	.timetable-row
		.timetable-title
			.text-bold
				p Мальцева Мария Евгеньевна
			.text-14
				p Врач УЗ диагностики
		.timetable-column
			.timetable-cell
				+timeCard
			.timetable-cell
				+timeCard
			.timetable-cell
				+timeCard
			.timetable-cell
				+timeCard
			.timetable-cell
				+timeCardEmpty
			.timetable-cell
				+timeCardEmpty
			.timetable-cell
				+timeCardEmpty
mixin timeTable
	.timetable
		+timeTableHead
		+timeTableRow
		+timeTableRow
mixin timetableItems
	.timetable2__items
		+timeCard
		+timeCard
		+timeCard
		+timeCard
		+timeCard
		+timeCard
		+timeCard
//-accordeon-row
mixin accordeonCard(cards)
	each card in cards
		.card
			.card-header(id=""+ card.id)
				
				h5.mb-0
					button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target=" #"+card.colId aria-expanded="false" aria-controls=""+card.colId)
						| #{card.title}
						span.arrow
							i.fas.fa-angle-down
			.collapsable.collapse(id=""+card.colId aria-labelledby=""+ card.id data-parent="#timetable")
				.card-body
				+timeTable
mixin smallCard
	a(href="#").small-card
		.small-card__img
			img(src="img/doctor-photo.png", alt="doctor")
		.text-box
			p Мария Кравцова
			p Гинеколог, Репродуктолог
mixin datePeriod
	.date-period
		button.prev-period
		p 03-10 июня
		button.next-period

mixin modal2
	#contact-modal2.contact-modal.modal.fade(tabindex="-1" role="dialog"  aria-hidden="true")
		.modal-dialog.modal-dialog-centered(role="document")
			.modal-content
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true")
						i.far.fa-times-circle
				
				.modal-form-title.modal-title--flex
					.modal-photo
						img(src="img/doctor3.jpg", alt="photo")
					.modal-head
						h3 Запись онлайн
						p Мария Кравцова

				.modal-body
					.feedback-form
						form.contact-form
							.form-group
								input(type="text" name="userName" placeholder="ФИО")
								
							.form-group
								input(type="text" name="userPhone"  placeholder="Контактный телефон")
								
							.form-group
								input(type="text" name="userEmail"  placeholder="E-mail")
							.form-group
								input(type="text" name="userEmail"  placeholder="E-mail")
							.form-group
								input(type="text" name="dateTime"  placeholder="Удобные дата и время")
							.form-group
								input(type="text" name="bearthDay"  placeholder="Дата рождения")
							.form-group
								textarea(name="message",  rows="3" placeholder="Сообщение")
							.form-group.agree-text
								label(class="form-label")
									input.form-checkbox(class="form-checkbox" type="checkbox" name="agreePolitic")
									span.custom-checkbox
									| Я согласен на  #[a(href="#") обработку персональных данных ].
							.form-group.form-btn
								button.page-button.page-button--color Отправить


mixin modal1
	#contact-modal1.contact-modal.modal.fade(tabindex="-1" role="dialog"  aria-hidden="true")
		.modal-dialog.modal-dialog-centered(role="document")
			.modal-content
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true")
						i.far.fa-times-circle
				
				.modal-form-title.text-center
					h3 Запись онлайн
					p Администратор клиники с радостью ответит на ваши вопросы и&nbsp;запишет к нужному специалисту.

				.modal-body
					.feedback-form
						form.contact-form
							.form-group
								input(type="text" name="userName" placeholder="Ваше имя")
								
							.form-group
								input(type="text" name="userPhone"  placeholder="Контактный телефон")
								
							.select-block.form-group
								i.fas.fa-angle-down.input-arrow
								input(type="text" name="direction"  value="" placeholder="Выбрать специализацию").filters-form-input
								.select-block-drop.hide
									p.select-option(data-value='Аллерголог') Аллерголог
									p.select-option(data-value='Косметолог') Косметолог
									p.select-option(data-value='Кардиолог') Кардиолог
							.select-block.form-group
								i.fas.fa-angle-down.input-arrow
								input(type="text" name="doctorName"   placeholder="Специалист").filters-form-input
								.select-block-drop.hide
									p.select-option(data-value='Петрова') Петрова Екатерина
									p.select-option(data-value='Петрова') Петрова Екатерина
									p.select-option(data-value='Петрова') Петрова Екатерина
								
							.form-group
								input(type="text" name="dateTime"  placeholder="Удобные дата и время")
							.form-group.agree-text
								label(class="form-label")
									input.form-checkbox(class="form-checkbox" type="checkbox" name="agreePolitic")
									span.custom-checkbox
									| Я согласен на  #[a(href="#") обработку персональных данных ].
							.form-group.form-btn
								button.page-button.page-button--color Отправить

//SVG
mixin bannerLabel1
	span
		svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="54" height="62" viewbox="0 0 54 62")
			metadata
				x:xmpmeta(xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ")
					rdf:rdf(xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#")
					rdf:description(rdf:about="")
