mixin header-nav(args)
	.header-top
		.container
			.header-top-content
				button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
					span toggle menu
				.mobile-logo
					a(href="#")
						img(src="img/logo.png", alt="logo" width="60")
				.mobile-phone
					a(href="tel:+74992140000") +7(499) 214-00-00
				.header-menu
					
					nav.header-nav
						each item in args
							if item.addClass
								a(href=""+ item.link class="header-nav-item "+ item.addClass) #{item.title}
							else
								a(href=""+ item.link class="header-nav-item") #{item.title}
						.d-block.d-md-none.contacts-block.contacts-block--mobile
							.contacts-phones
								a(href="tel:+74992140000") +7(499) 214-00-00
								a(href="tel:+74992140000") +7(499) 214-00-00
							.contacts-address
								p Москва, г. Зеленоград, к. 1130
								p Открытие до 21-00
							.contacts-social
								a(href="#").fab.fa-facebook-f
								a(href="#").fab.fa-vk
								a(href="#").fab.fa-instagram
								a(href="#").fab.fa-odnoklassniki

					.header-search
						form(action="")
							.search-input#search-input
								input(type="text" placeholder="Поиск по сайту")
							
							button.search-btn#search-btn
								i.fas.fa-search
				//- .chat-button
				//- 	button Чат с клиникой
mixin ourSpecialistCard
	.card-doctor
		.card-img
			img(src="img/doctor1.png", alt="img")
		.card-text
			h3 Мария Кравцова
			p Главврач
mixin benefitsItem(imgSrc, title,desk)
	.benefit-item
		.benefit-item__img
			img(src="img/"+ imgSrc, alt="icon")
		.benefit-item__title
			p #{title}
		.benefit-item__text
			p #{desk}

mixin service-col(items)
	.serv-list-col
		each item in items
			a(href="#").text-link #{item}
mixin newCard(title)
	.news-cards__item.card-item
		h4 #{title}
		h3 Поможем всем городом
		p Тимуру всего 1 год, а Жене недавно исполнилось 3 года - два мальчика. Две семьи. Два разных диагноза. Но одно общее желание - ЖИТЬ полноценной и счастливой жизнью

mixin newCard2
	.news-card2.card-item
		.news-card2__img
			img(src="img/news.jpg", alt="photo")
		.news-card2__text
			.news-date
				p 09.06.2020
			.news-title
				p Поможем всем городом!
mixin programmContent
	.row
		.col-lg-4
			a(href="#" style="background-image: url(img/family.jpg)").programm-card
				.programm-card__text
					.label
						p  Программа
					h4 Моя семья
					p Годовая программа обслуживания Вашей семьи
					.price
						p от 30 000 р
		.col-lg-4
			a(href="#" style="background-image: url(img/family.jpg)").programm-card
				.programm-card__text
					.label
						p  Программа
					h4 Моя семья
					p Годовая программа обслуживания Вашей семьи
					.price
						p от 30 000 р
		.col-lg-4
			a(href="#" style="background-image: url(img/family.jpg)").programm-card
				.programm-card__text
					.label
						p  Программа
					h4 Моя семья
					p Годовая программа обслуживания Вашей семьи
					.price
						p от 30 000 р
mixin breadcrmb(args)
	.breadcrumb
		each item in args
			a(href=" "+ item.link).breadcrumb-item #{item.title}
mixin table(args)
	.table-block
		.table-row.table-row--head
			.table-cell
				h3 #{args.head1}
			.table-cell
				h3 #{args.head2}
		each item in args.el
			.table-row
				.table-cell
					p #{item.text1}
				.table-cell
					p #{item.text2}

mixin checkboxGroup(title, ...items)
	.checkbox-group
		h3 #{title}
		.label-block
			each item in items
				label
					input(type="checkbox" name="")
					.fake-checkbox
					| #{item}

mixin specialistCard
	.card-specialist
		.card-img
			img(src="img/doctor3.jpg", alt="doctor")
		.card-text
			a(href="persone-page.html") Мария Кравцова
			.text-14
				p Гинеколог, Репродуктолог, Врач центра планирования семьи, Гинеколог
		.card-btn
			.page-button.page-button2 Записаться к врачу
mixin timeCard
	.time-card
		form(action="")
			input(type="hidden" name="" value="14-20")
			p 14:00 - 20:00
			input(type="submit" value="Записаться")
mixin timeCardEmpty
	.time-card
mixin timeTableHead
	.timetable-row.timetable-row--head
		.timetable-title
		.timetable-column
			.timetable-cell
				p ср, 03.06
			.timetable-cell
				p ср, 03.06
			.timetable-cell
				p ср, 03.06
			.timetable-cell
				p ср, 03.06
			.timetable-cell
				p ср, 03.06
			.timetable-cell
				p ср, 03.06
			.timetable-cell
				p ср, 03.06
mixin timeTableRow
	.timetable-row
		.timetable-title
			.text-bold
				p Мальцева Мария Евгеньевна
			.text-14
				p Врач УЗ диагностики
		.timetable-column
			.timetable-cell
				+timeCard
			.timetable-cell
				+timeCard
			.timetable-cell
				+timeCard
			.timetable-cell
				+timeCard
			.timetable-cell
				+timeCardEmpty
			.timetable-cell
				+timeCardEmpty
			.timetable-cell
				+timeCardEmpty
mixin timeTable
	.timetable
		+timeTableHead
		+timeTableRow
		+timeTableRow

//-accordeon-row
mixin accordeonCard(cards)
	each card in cards
		.card
			.card-header(id=""+ card.id)
				
				h5.mb-0
					button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target=" #"+card.colId aria-expanded="false" aria-controls=""+card.colId)
						| #{card.title}
						span.arrow
							i.fas.fa-angle-down
			.collapsable.collapse(id=""+card.colId aria-labelledby=""+ card.id data-parent="#timetable")
				.card-body
					+timeTable
//SVG
mixin bannerLabel1
	span
		svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="54" height="62" viewbox="0 0 54 62")
			metadata
				x:xmpmeta(xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ")
					rdf:rdf(xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#")
					rdf:description(rdf:about="")
